@charset "UTF-8";

/*
*基本样式重置
*base reset
*/

[type=reset],
[type=submit],
button,
html [type=button] {
  -webkit-appearance: button;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

.ivu-btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  white-space: nowrap;
  /* line-height: 1.5; */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: 6px 15px;
  font-size: 12px;
  border-radius: 4px;
  -webkit-transition: color .2s linear,background-color .2s linear,border .2s linear;
  transition: color .2s linear,background-color .2s linear,border .2s linear;
  color: #495060;
  background-color: #f7f7f7;
  border-color: #dddee1;
}

html,
body,
#app,
.el-container {
  height: 100%;
}

.el-container {
  height: 100%;
}

#app {
  width: 100%;
}

h1,
.h1,
h2,
.h2,
h3,
.h3 {
  margin: 0;
}

li {
  list-style: none;
}

/*
* elementUI样式重置
*/

.el-header {
  padding: 0;
}

/**
** ! index
**/

/**
* header_nav
**/

.header-container {
  background: #1C2128;
  overflow: hidden;
}

.header-nav .web-logo {
  background: #1C2128;
  height: 56px;
  position: absolute;
  -webkit-transition: all .15s;
  transition: all .15s;
}

.header-nav .web-logo .logo-img {
  width: 50%;
  margin-top: -7px;
}

.header-nav .as-header__actions {
  position: relative;
  height: 56px;
  overflow: hidden;
  margin-left: 273px;
}

.header-nav .as-header__actions .as-menu__top {
  background-color: #1C2128;
}

.header-nav .as-header__actions .as-menu__top .el-menu-item {
  float: left;
  color: #fff;
}

.header-nav .as-header__actions .as-menu__top .el-menu-item .icon-menu__top {
  color: #fff;
}

.header-nav .as-header__actions .as-menu__top .el-menu-item:hover {
  background-color: #434A50;
}

.header-nav .as-header__actions .as-menu__top .el-menu-item:focus {
  background-color: #434A50;
}

.header-nav .as-header__actions .as-menu__top .el-menu-item.is-active,
.header-nav .as-header__actions .as-menu__top .el-menu-item.is_active {
  color: #fff;
  background-color: #434A50;
}

.header-nav .sub-menuBox {
  padding: 0 273px;
}

.header-nav .sub-menuBox .sub-menu li {
  float: left;
}

.header-nav .user-navigation {
  position: absolute;
  right: 10px;
}

.tags-con {
  height: 40px;
  z-index: -1;
  overflow: hidden;
  background: #f0f0f0;
}

.tags-con .tags-outer-scroll-con {
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-right: 30px;
  width: 100%;
  height: 100%;
}

.tags-con .tags-outer-scroll-con .close-all-tag-con {
  position: absolute;
  right: 0;
  bottom: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-top: 5px;
  text-align: center;
  height: 100%;
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0), 0 0 6px 0 rgba(0, 0, 0, 0);
          box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0), 0 0 6px 0 rgba(0, 0, 0, 0);
  z-index: 10;
}

.tags-con .el-tabs__nav {
  overflow: visible;
  white-space: nowrap;
}

.tags-con .el-tabs--border-card {
  background: #fff;
  border: 0px none;
}

.tags-con .el-tabs--border-card > .el-tabs__header {
  background: none;
}

.tags-con .el-tabs--border-card > .el-tabs__header .el-tabs__item {
  background: #2E353B;
  color: #fff;
  /*background:#fff url("/static/img/btn.png");*/
  margin: 0;
  height: 35px;
  line-height: 35px;
  background-position: 0 -448px;
}

.tags-con .el-tabs--border-card > .el-tabs__header .el-tabs__item.is-active {
  background: #284E5D;
  color: #fff;
  border-right-color: transparent;
  border-left-color: transparent;
  border-top-color: transparent;
}

.tags-con .el-tabs--border-card > .el-tabs__header .el-tabs__item:not(.is-disabled):hover {
  background: #909399;
  color: #fff;
}

.tags-con .el-tabs__item .el-icon-close {
  -webkit-transition: none;
  transition: none;
}

.tags-con .el-tabs__nav-prev {
  left: 5px;
}

.tags-con .el-tabs__nav-next {
  right: 5px;
}

.tags-con .el-tabs__nav-next,
.tags-con .el-tabs__nav-prev {
  line-height: 35px;
}

.tags-con .el-tabs__content {
  display: none;
}

.main-container .container {
  width: 100%;
  padding: 0 5px;
}

.el-table__header {
  width: 100% !important;
}

.ivu-dropdown {
  display: inline-block;
}

.ivu-dropdown-rel {
  position: relative;
}

.ivu-btn-primary {
  color: #fff;
  background-color: #fff;
  border-color: #fff;
}

.ivu-btn-small {
  padding: 4px 7px;
  font-size: 12px;
}

.ivu-btn-small .fa {
  font-weight: normal;
  font-size: 12px;
  -webkit-text-stroke: 1px #fff;
}

.ivu-btn,
.ivu-btn:active,
.ivu-btn:focus {
  outline: 0;
}

.ivu-btn-small:focus {
  background: #fff;
}

.ivu-icon-arrow-down-b:before {
  content: "\F078";
}

.aside-container {
  background: #545C64;
  margin-top: -5px;
}

.aside-container .el-sideclose {
  text-align: center;
  display: block;
  padding: 10px 0;
  cursor: pointer;
  border: 0px none;
  color: #fff;
}

.aside-container .el-menu {
  background: none;
  border-right: 0px none;
}

.aside-container .el-menu-item {
  color: #fff;
}

.aside-container .el-menu-item:hover,
.aside-container .el-menu-item:focus {
  background: #434A50;
  color: #fff;
}

.aside-container .el-submenu__title {
  color: #fff;
}

.aside-container .el-submenu__title:hover,
.aside-container .el-submenu__title:focus {
  color: #333;
}

.aside-container .el-submenu__title:hover .small-logo,
.aside-container .el-submenu__title:focus .small-logo {
  color: #333;
}

.aside-container .small-logo {
  color: #fff;
}

* {
  margin: 0;
  padding: 0;
}

.wrapper {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  overflow: hidden;
}

.clearfix:after {
  display: block;
  visibility: hidden;
  font-size: 0;
  height: 0;
  content: "";
  clear: both;
}

.clearfix {
  zoom: 1;
}

@media only screen and (min-width: 600px) {
  .index-nav {
    background: url("/static/img/banner.png") no-repeat center top;
    background-size: 100% 100%;
    height: 45rem;
  }

  .login-page .container {
    width: 100%;
    min-width: 100%;
    margin: 0 auto;
    padding: 0rem 1.25rem 0.625rem 1.25rem;
    background: -webkit-gradient(linear, left top, right top, from(#bebce5), to(#729dee));
    background: linear-gradient(90deg, #bebce5, #729dee);
  }

  .login-page .container img {
    width: auto;
    height: 4.5rem;
  }

  .login-page .container img.img-r {
    width: auto;
    height: 3rem;
    margin-top: 1.25rem;
  }

  .login-page .nav-index {
    padding-top: 4rem;
  }

  .login-page .login-index {
    background: rgba(255, 255, 255, 0.4);
    border-radius: 1.25rem;
    padding: 0.625rem 0.625rem;
  }

  .login-page .login-nav {
    background: rgba(255, 255, 255, 0.56);
  }

  .login-page .login-nav > span {
    display: block;
    font-size: 1.25rem;
    padding: 0.625rem 1.25rem;
    letter-spacing: 1px;
    background: -webkit-gradient(linear, left top, right top, from(#bebce5), to(#79a0e8));
    background: linear-gradient(90deg, #bebce5, #79a0e8);
    color: #fff;
  }

  .login-page .checkbox {
    width: 70%;
    margin: 0 auto;
    padding-left: 0.625rem;
    font-size: 0.938rem;
    padding-top: 0.625rem;
  }

  .login-page .checkbox input {
    width: 0.938rem;
    height: 0.938rem;
  }

  .login-page .checkbox .forget {
    color: #77aee5;
    margin-left: 1.25rem;
  }

  .login-page .login-btn {
    display: block;
    margin: 20px auto;
    text-align: center;
    width: 40%;
    padding: 0.625rem 0rem;
    border-radius: 0.625rem;
    background: -webkit-gradient(linear, left top, right top, from(#bebce5), to(#79a0e8));
    background: linear-gradient(90deg, #bebce5, #79a0e8);
    border: none;
    font-size: 1.125rem;
    color: #fff;
  }

  .login-page .login-box {
    width: 100%;
    margin: 0 auto;
    background: rgba(255, 255, 255, 0.4);
  }

  .login-page .box-tab {
    width: 100%;
    margin: 0.625rem auto;
  }

  .login-page .box-tab .user,
  .login-page .box-tab .password {
    width: 100%;
    margin: 0 auto;
    padding-top: 1.5rem;
  }

  .login-page .user i,
  .login-page .password i {
    display: inline-block;
    vertical-align: middle;
    width: 2.5rem;
    height: 2.05rem;
    margin: 0 auto;
    text-align: center;
    font-size: 1.25rem;
    color: #fff;
    line-height: 2.05rem;
    border-top-left-radius: 0.438rem;
    border-bottom-left-radius: 0.438rem;
    padding: 0rem 0rem;
    margin-left: 15%;
    background: -webkit-gradient(linear, left top, right top, from(#bebce5), to(#79a0e8));
    background: linear-gradient(90deg, #bebce5, #79a0e8);
  }

  .login-page .user input,
  .login-page .password input {
    width: 60%;
    padding: 0.1rem 0.2rem 0.3rem 0.2rem;
    margin-left: -0.3rem;
  }

  .login-page .fot {
    display: block;
    margin: 0 auto;
    text-align: center;
    color: #999;
    letter-spacing: 0.1rem;
    margin-bottom: 1.25rem;
  }

  .login-page .login-footer {
    width: 100%;
    margin: 1.25rem auto;
  }

  .login-page .login-footer span {
    display: block;
    margin: 0 auto;
    text-align: center;
    font-size: 0.875rem;
    color: #999;
  }

  .login-page .login-footer i {
    margin-right: 0.3rem;
    display: inline-block;
  }
}

@media only screen and (max-width: 600px) {
  .index-nav {
    background: url("/static/img/banner1.png") no-repeat center top;
    background-size: 100% 100%;
    height: 32rem;
    overflow: hidden;
  }

  .login-page .container {
    width: 100%;
    min-width: 100%;
    margin: 0 auto;
    background: -webkit-gradient(linear, right top, left top, from(#527fd0), to(#6394c4));
    background: linear-gradient(-90deg, #527fd0, #6394c4);
  }

  .login-page .container img {
    width: auto;
    height: 2.5rem;
  }

  .login-page .container img.img-r {
    width: auto;
    height: 1.25rem;
    margin-top: 0.625rem;
  }

  .login-page .nav-index {
    padding-top: 1.8rem;
  }

  .login-page .login-index {
    background: rgba(255, 255, 255, 0.4);
    border-radius: 1.25rem;
    padding: 0.625rem 0.625rem;
  }

  .login-page .login-nav {
    background: rgba(255, 255, 255, 0.56);
  }

  .login-page .login-nav > span {
    display: block;
    font-size: 0.875rem;
    padding: 0.625rem 1.25rem;
    letter-spacing: 0.1rem;
    background: -webkit-gradient(linear, left top, right top, from(#bebce5), to(#79a0e8));
    background: linear-gradient(90deg, #bebce5, #79a0e8);
    color: #fff;
  }

  .login-page .checkbox {
    width: 70%;
    margin: 0 auto;
    padding-left: 10px;
    font-size: 12px;
    padding-top: 10px;
  }

  .login-page .checkbox input {
    width: 10px;
    height: 10px;
  }

  .login-page .checkbox .forget {
    color: #77aee5;
    margin-left: 20px;
  }

  .login-page .login-btn {
    display: block;
    margin: 20px auto;
    text-align: center;
    width: 40%;
    padding: 10px 0px;
    border-radius: 10px;
    background: -webkit-gradient(linear, left top, right top, from(#bebce5), to(#79a0e8));
    background: linear-gradient(90deg, #bebce5, #79a0e8);
    border: none;
    font-size: 12px;
    color: #fff;
  }

  .login-page .login-box {
    width: 100%;
    margin: 0 auto;
    background: rgba(255, 255, 255, 0.4);
  }

  .login-page .box-tab {
    width: 100%;
    margin: 10px auto;
  }

  .login-page .box-tab .user,
  .login-page .box-tab .password {
    width: 100%;
    margin: 0 auto;
    padding-top: 25px;
  }

  .login-page .user i,
  .login-page .password i {
    display: inline-block;
    vertical-align: middle;
    width: 45px;
    height: 35px;
    margin: 0 auto;
    text-align: center;
    font-size: 12px;
    color: #fff;
    line-height: 35px;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
    padding: 0px 0px;
    margin-left: 15%;
    background: -webkit-gradient(linear, left top, right top, from(#bebce5), to(#79a0e8));
    background: linear-gradient(90deg, #bebce5, #79a0e8);
  }

  .login-page .user input,
  .login-page .password input {
    width: 60%;
    padding: 2px 4.5px 4.5px 4.5px;
    margin-left: -5px;
  }

  .login-page .fot {
    display: block;
    margin: 0 auto;
    text-align: center;
    color: #999;
    letter-spacing: 2px;
    margin-bottom: 20px;
    font-size: 12px;
  }

  .login-page .login-footer {
    width: 100%;
    margin: 20px auto;
  }

  .login-page .login-footer span {
    display: block;
    margin: 0 auto;
    text-align: center;
    font-size: 12px;
    color: #999;
    margin-top: -20px;
  }

  .login-page .login-footer i {
    display: inline-block;
  }
}

.cache {
  height: 300px;
  padding: 1px;
}

.cache .el-row {
  margin-top: 150px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.cache .el-row button.el-button {
  margin: 0 auto;
  display: block;
  width: 200px;
  height: 100px;
}

.permission-page .el-button--danger {
  margin-left: 2%;
}

.company-page .search .search-label {
  font-weight: bold;
  color: #606266;
}

.company-page .search .el-form-item__label {
  display: inline;
}

