//input
//*:focus { outline: none; }
//input {outline:none;}
//input:focus, textarea:focus, select:focus {outline-offset:0px;}
//.el-input__inner:hover{border-color: #6a6d71;}
//.el-input.is-active .el-input__inner, .el-input__inner:focus{border-color: #d3dce6;}
.el-input__inner,.el-textarea__inner{ padding:3px;}