.company-page {
    .search {
        .search-label {
            font-weight: bold;
            color: #606266;
        }

        .el-form-item__label {
            display: inline;
        }
    }

    .el-form-item {
        width: 50%;
        float: left;
    }

    .el-dialog {
        width: 60%;
    }

    .el-row {
        width: 100%;

        .el-pagination {
            width: 32%;
            margin: 20px auto 0;
        }
    }
}