/*
* company.css
*/
.company-page {
    .el-form-item {
        width: 50%;
        float: left;
    }

    .el-dialog {
        width: 60%;
    }

    .el-row {
        width: 100%;

        .el-pagination {
            width: 32%;
            margin: 20px auto 0;
        }
    }
}