.company-page {
    .search {
        .search-label {
            font-weight: bold;
            color: #606266;
        }

        .el-form-item__label {
            display: inline;
        }
    }
}