@import "layouts/element-variables";
/*
*基本样式重置
*base reset
*/
[type=reset], [type=submit], button, html [type=button] {
  -webkit-appearance: button;
}
button, input, select, textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
.ivu-btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  white-space: nowrap;
  /* line-height: 1.5; */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: 6px 15px;
  font-size: 12px;
  border-radius: 4px;
  transition: color .2s linear,background-color .2s linear,border .2s linear;
  color: #495060;
  background-color: #f7f7f7;
  border-color: #dddee1;
}
html,body,#layout-app{ height: 100%;}
.page-container{ height: 100%;}
#layout-app{ width: 100%;background:#f2f2f2 ;}
h1, .h1, h2, .h2, h3, .h3{ margin: 0;}
li{list-style: none}
label{font-weight: normal}

body{font-family: "Microsoft Yahei","微软雅黑", "Hiragino Sans GB", Helvetica, "Helvetica Neue", Tahoma, Arial, sans-serif;}

.container{ padding: 0;}
/*
* elementUI样式重置
*/
.el-header{ padding: 0;}
//tab
.el-table{ font-size: 12px;}
.el-table--border th:first-child .cell, .el-table--border td:first-child .cell{ padding-left: 0; padding-right: 0;}
.el-form-item--mini.el-form-item{ margin-bottom: 0px;}

//main
//.el-container{ }
.el-main{ padding:6px 9px}
.view-container{
  box-shadow: 0px 0px 3px #ddd;border: 1px solid #f2f2f2; margin-top: -1px;height: 90%;
  //min-height: 700px;
}
.view-container .container {}

//toolbar

.searchBox .el-input{width: 90%;}

//page
.el-pagination{ padding:10px 0 0 0;}
// el-footer

.el-footer{ text-align: center;background: #1C2128; color:#fff; height: 33px; line-height: 33px;}

