@import "layouts/element-variables";
@import 'components/Data/Table';
@import 'components/Data/Tree';
@import 'components/Others/Dialog';
@import 'components/Form/Input';
/*
*基本样式重置
*base reset
*/
*{
  margin: 0;
  padding: 0;
}
[type=reset], [type=submit], button, html [type=button] {
  -webkit-appearance: button;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

.ivu-btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  white-space: nowrap;
  /* line-height: 1.5; */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: 6px 15px;
  font-size: 12px;
  border-radius: 4px;
  transition: color .2s linear, background-color .2s linear, border .2s linear;
  color: #495060;
  background-color: #f7f7f7;
  border-color: #dddee1;
}

html, body, #layout-app {
  height: 100%;
}

#layout-app {
  width: 100%;
  background: #f2f2f2;
}

.page-container {
  height: 100%;
}

//.section-container{height: 100%;}
//.main-container{height: 100%;}
//.main-wrapper{height: 100%;}
.main-wrapper {
}

.view-container {
  height: calc(100% - 39px);
  overflow: auto;
  position: relative;
}

.view-container .container {
  height: 100%;
}
h1, .h1, h2, .h2, h3, .h3 {
  margin: 0;
}

li {
  list-style: none
}

label {
  font-weight: normal;
  margin: 0px;
  padding: 0;
}

//

.mb10 {
  margin-bottom: 10px !important;
}

//
body {
  font-family: "Microsoft Yahei", "微软雅黑", "Hiragino Sans GB", Helvetica, "Helvetica Neue", Tahoma, Arial, sans-serif;
}

.container {
  padding: 0;
}

/*
* elementUI样式重置
*/
.el-header {
  padding: 0;
}

//tab

//main
//.el-container{ }
.el-main {
  padding: 6px 9px;
  overflow: hidden;
}

.view-container {
  //background: #ddd;
  box-shadow: 0px 0px 3px #ddd;
  border: 1px solid #d4d4d4;
  //border-top: 0px;
  margin-top: -1px;
  //min-height: 700px;
}

.view-container .container {
}

//toolbar

.searchBox .el-input {
  width: 90%;
}

.el-form-item--mini.el-form-item {
  margin-bottom: 15px;
}


//css...
.el-tag, .text-els, .el-tree-node__label {
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 100%;
}

.text-els {
  display: inline-block;
  white-space: nowrap;
}



// el-footer

.el-footer {
  text-align: center;
  background: #1C2128;
  color: #fff;
  height: 33px;
  line-height: 33px;
}



//

.splitter-pane {
  overflow: hidden
}



//splitter-pane

.splitter-pane {
  overflow: auto
}

