//自定义变量
$white:#fff;
$none:none;
$--as-header-height:112px;
$--as-header-menuheight:112px;
$--as-header-shadowcolor:RGBA(0,0,0,.3);
//box-shadow: 0 1px 2px 0 RGBA(0,0,0,.3);
$--as-header-menuheight:112px;
//menu
$--as-header-bgColor:#1C2128;
$--as-header-menu-bgColor:#1C2128;
$--as-header-menu-textColor:$white;
$--as-header-menu-activeTextColor:$white;
$--as-header-menu-activeBorderColor:#1C2128;
$--as-header-menu-hoverTextColor:#434A50;
$--as-header-menu-activebgColor:#434A50;

//tab
$--as-header-tab-height:35px;
$--as-header-tab-bgColor:#2E353B;
$--as-header-tabs-bgColor:$none;
//
$--as-header-tabs__itemBgColor:#2E353B;
$--as-header-tabs__itemtextColor:#fff;
//
$--as-header-tabs__itemactiveBgColor:#284E5D;
$--as-header-tabs__itemactiveTextColor:#fff;
//
$--as-header-tabs__itemhoverBgColor:#909399;
$--as-header-tabs__itemhoverTextColor:$white;
//
$--as-header-tabs__itemfocusBgColor:#1C6AA2;
$--as-header-tabs__itemfocusTextColor:$white;
//
$--as-header-tabs__close-all-tag-conBgColor:$--as-header-tab-bgColor;
$--as-header-tabs__close-all-tag-conTextColor:$--as-header-tabs__itemtextColor;


//table

$--table-thead-bg:#e6e6e6;
$--table-thead-color:#000;
$--table-hovercolor:#e6e6e6;