// project
.components-container {
  position: relative;
  height: 100vh;
}

.left-container {
  height: 100%;
}

.right-container {
  height:100%;
}
.project .pro-btn{
  padding: 8px 15px;
}
.pro-btn .pro-i {
  color: #3a8ee6;
  display: inline-block;
  padding-right: 5px;
}
.clearfix:after{
  visibility: hidden;
  display: block;
  height: 0;
  font-size: 0;
  content: "";
  clear: both;
}
.clearfix{
  zoom: 1;
}
.pro-box{
  width: 100%;
  margin: 0 auto;
}
.pro-box-l,.pro-box-r{
  width: 100%;
  overflow: hidden;
}
.pro-l-tit{
  width: 100%;
  margin: 5px auto;
  color: #2e6da4;
  background: -webkit-linear-gradient(#f9f5f5, #fff);
  background: -o-linear-gradient(#f9f5f5, #fff);
  background: -moz-linear-gradient(#f9f5f5, #fff);
  background: linear-gradient(#f9f5f5, #fff);
}
.pro-l-tit i{
  float: right;
  margin-top: 2px;
  margin-right: 5px;
  color: #2e6da4;
}
.pro-l-query{
  width: 100%;
  margin: 20px auto;
  padding-bottom: 20px;
  border-bottom: 1px solid #eee;
}
.query .el-input__inner{
  height: 30px;
}
.query-text{
  margin-top: 5px;
}
.query-text i{
  margin-right: 5px;
  color: #2e6da4;
}
.project .el-input{
  width: 70%;
}
.pro-add .el-form-item{
  float: left;
  width: 50%;
}
.el-input.el-input--suffix{
  width: 100%;
}
.serachinput{
  width: 300px;
  box-sizing: border-box;
  padding: 9px;
  border: 1px solid #dddee1;
  line-height: 20px;
  font-size: 16px;
  height: 38px;
  color: #333;
  position: relative;
  border-radius: 4px;
  -webkit-box-shadow: #666 0px 0px 10px;
  -moz-box-shadow: #666 0px 0px 10px;
  box-shadow: #666 0px 0px 10px;
}
.chose-name i{
  display: inline-block;
  margin-right: 5px;
  margin-left: 5px;
}
.par-r-name {
  display: inline-block;
  margin-right: 10px;
  .el-input__inner {
    float: left;
  }
}
.pro-search{
  float: right;
  margin-right: 30px;
}
.pro-box-r .el-form-item{
  float: left;
  width: 50%;
}
.el-input-number {
  .el-input {
    width: 100%;
  }
}