/**
  * 重置elment table style
 */
//table
.el-table--group, .el-table--border {
  border: 1px solid #d4d4d4;
}

.el-table {
  background: #fff;
  width: auto;
  max-width: 99%;
  margin:0 auto;
}

.el-table--border th:first-child .cell, .el-table--border td:first-child .cell {
  padding-left: 0;
  padding-right: 0;
}

//.el-form-item--mini.el-form-item{ margin-bottom: 0px;}
.el-table thead {
  color: $--table-thead-color;
}

.el-table thead tr {
  background-color: $--table-thead-bg;
  background: linear-gradient($--table-thead-bg 0px, $--table-thead-bg 100%) repeat-x;
  background-repeat: repeat-x;
}

.el-table th {
  background: none;
  font-weight: normal
}

.el-table th, .el-table td {
  padding: 0;
}

.el-table .caret-wrapper {
  height: 12px;
}

.el-table .sort-caret.ascending {
  top: -5px;
}

.el-table .sort-caret.descending {
  bottom: -5px;
}

.el-table th > .cell {
  height: 25px;
  line-height: 25px;
}
//
//
.el-table-column--selection .cell {
  padding: 0;
}

//
.el-tag--medium {
  margin: 5px 0;
  vertical-align: middle;
}

.el-table--border th, .el-table--border td {
  border-right: 1px dotted #ccc;
}

.el-table th.is-leaf, .el-table td {
  border-bottom: 1px dotted #ccc;
}

.el-table tr {
  background: #FAFAFA;
}

//.el-table .el-table__row{ background-color:#ddd;}
.el-table .el-table__row--striped {
  background: #F2F2F2;
}

.el-table--striped .el-table__body tr.el-table__row--striped td {
  background: #F2F2F2;
}

//移上去的颜色
.el-table__body tr.hover-row > td, .el-table__body tr.hover-row.current-row > td, .el-table__body tr.hover-row.el-table__row--striped > td, .el-table__body tr.hover-row.el-table__row--striped.current-row > td {
  background-color: $--table-hovercolor;
}

.el-table__empty-block {
  background: #fff;
}
// expand
.el-table__row {
  .el-table__expand-icon--expanded {
    transform: none
  }
  .el-icon-arrow-right:before {
    content: "\E62B"
  }
  .el-table__expand-icon--expanded .el-icon-arrow-right:before {
    content: "\E621"
  }
}
.el-table__expanded-cell[class*=cell]{ padding: 10px; z-index: 9}
/**
  * 自定义 table style
 */
.as-table__container{}
.as-table{
  //width: 100%;
  td,th{
    text-align: center;
  }
}
//table page
.el-pagination {
  padding: 10px 15px;
  margin: 10px 0;
  border-top:1px solid #d4d4d4;
}
//.paginate{ background:#fff;position:absolute;bottom:0px; width: 100%; z-index: 99}