//tree
.el-tree--highlight-current .el-tree-node.is-current > .el-tree-node__content, .el-tree .el-tree-node__content:hover {
  background-color: #E0ECFF;
}

.el-tree-node__content > .el-tree-node__expand-icon {
  background: url(/static/img/tree_icons.png) no-repeat -128px 0;
  width: 16px;
  height: 18px;
  transform: none;
  padding: 0;
  margin: 0;
}

.el-icon-caret-right {
  background-position: -128px 0;
}

.el-tree-node__expand-icon.expanded {
  transform: rotate(0deg);
  background-position: -144px 0;
}

.el-tree-node__expand-icon.is-leaf {
  background-position: -192px 0;
}

.el-icon-caret-right:before {
  content: ""
}

.el-tree-node__expand-icon.expanded:before {
  content: "";
}

.el-tree-node__label {
  position: relative;
  display: block;
  width: 100%;
  padding-left: 16px;
}

.el-tree-node__label:after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 16px;
  height: 18px;
  background: url(/static/img/tree_ico.png) center no-repeat;
}